<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amnesty.panicbutton.spike"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:label="@string/app_name">
        <activity android:name="HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="TwitterSpikeActivity"
                  android:label="@string/twitter_spike"/>

        <service android:name="com.amnesty.panicbutton.spike.USSDSuppressService"
                 android:enabled="true"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.android.ussd.IExtendedNetworkService"/>
            </intent-filter>
        </service>

        <service android:name="com.amnesty.panicbutton.spike.HardwareTriggerBackgroundService"
                 android:process=":remote">
        </service>

        <receiver android:name="com.amnesty.panicbutton.spike.HardwareTriggerReceiver">
        </receiver>
    </application>
</manifest> 
