<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amnesty.panicbutton.spike"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:label="@string/app_name">
        <activity android:name="HomeActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="TwitterSpikeActivity"
                  android:label="@string/twitter_spike"/>

        <activity android:name="LocationSpikeActivity"
                  android:label="@string/location_spike"/>

        <activity android:name=".HardwareTriggerActivity"
                  android:label="@string/hardware_trigger_spike"/>

        <activity android:name=".MultiButtonActivity"
                  android:label="@string/hardware_trigger_spike"/>

        <activity android:name=".ScreenSlideActivity"
                  android:label="@string/wizard_spike"/>

        <service android:name="com.amnesty.panicbutton.spike.HardwareTriggerBackgroundService"
                 android:process=":remote">
        </service>
    </application>
</manifest> 
